<a href="https://colab.research.google.com/github/HasithaRX/HasithaRX/blob/main/UCAM_WEEK1_18March2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEEK 1

In [ ]:
20+5j

(20+5j)

In [ ]:
print ("I am eager to learn python")
print('I am happy to learn')

I am eager to learn python
I am happy to learn

In [ ]:
a = """This is my
first paragraph"""
print(a)

This is my
first paragraph

In [ ]:
print("Its great ")    # comment sections can be using hash symbols
print("")

Its great

In [ ]:
print("Its 'great '")    # add anothor comma to

Its 'great '

## Arrays

In [ ]:
a = "Life is a beautiful" #string as an array
print(a[1])
print(a[0:5])
print(a[1:])
print(a[:8])

i
Life
ife is a beautiful
Life is

**LEN**

In [ ]:
a = "Life is a beautiful"
b= "so is python"
print(len(a))              # to count how many characters(including spaces) in the above "a" string
print('Life' in a)         # if we wan to find a keyword in a string we can use in functions.
print(a.upper())           #if we want to write the values in UPPER case we can use .upper
print(a.replace("L","W"))  # if we want to replace a someting in the strin we can use this, but this is not goint to change the original value, but only in print
print(a.split())           #so the sentences will be splited into individual words, so it will split into separate as a strings but not saved in the memory.it is only view.


#Concatenations
print(a,b)
print(a+b)
print(a+" "+b)

19
True
LIFE IS A BEAUTIFUL
Wife is a beautiful
['Life', 'is', 'a', 'beautiful']
Life is a beautiful so is python
Life is a beautifulso is python
Life is a beautiful so is python

In [ ]:
a = "11am"
b = "Lecture starts at" +a
c = f'Lecture starts at {a}'  # f stands for formatting (Place Holder)
d = f'Total amount is {57+5}'
print(b)
print(c)
print(d)

Lecture starts at11am
Lecture starts at 11am
Total amount is 62

# WEEK 2

1. Variable Names

vairable can h

In [ ]:
a = "life is beautiful"
print(a.capitalize())    #only the first letter will be capitalized
print(a.upper())
print(a.casefold())  # all will be lowercase
print(a.count("i"))
print(a.center(50))  #alliagning string

Life is beautiful
LIFE IS BEAUTIFUL
life is beautiful
3
                life is beautiful

#Encording

In [ ]:
e =a.encode() # b meaning byte format
print(e)

b'life is beautiful'

In [ ]:
e1 = a.encode("utf-16")  #endocing
print(e1)
e7 = e1.decode("utf-16") #decoding
print(e7)

b'\xff\xfel\x00i\x00f\x00e\x00 \x00i\x00s\x00 \x00b\x00e\x00a\x00u\x00t\x00i\x00f\x00u\x00l\x00'
life is beautiful

In [ ]:
e2 = a.encode("ascii")
print(e2)

b'life is beautiful'

In [ ]:
a1 ="Python £ is fun £"
e3 = a1.encode("ascii",errors = "replace")
print(e3)

e4 = a1.encode("ascii",errors = "xmlcharrefreplace")
print(e4)

b'Python ? is fun ?'
b'Python &#163; is fun &#163;'

#Ends with

The endswith() method is used to check whether a string ends with a specified suffix (a substring, character, or tuple of suffixes). It returns True if the string ends with the given suffix and False otherwise.

In [ ]:
a = "pic.jpg"
print(a.endswith('.jpg'))
type(a)

True

str

In [ ]:
text = "document.pdf"

# Check if it ends with .pdf or .txt
print(text.endswith((".pdf", ".txt")))  # True
print(text.endswith((".docx", ".txt"))) # False

True
False

#expand tabs

The expandtabs() method in Python replaces tab characters (\t) in a string with spaces, using a specified tab size.

In [ ]:
a ="Sr.no\tName\tRoll_no"    # \t is use as tabs. it is default is 4
print(a)
print(a.expandtabs(20))  # more readable DATA,and more aligning

Sr.no	Name	Roll_no
Sr.no               Name                Roll_no

#find

In [ ]:
a = "Hello how are you"  # where sub string in the main string
x = a.find("are")
print(x)

10

#Format  #place holders

In [ ]:
a = "Hi"
b = "2nd"
x = """{0} How have you all been?
welcome to {1} class""".format(a,b)
print(x)

Hi How have you all been?
welcome to 2nd class

In [ ]:
z="""{}How have you all been?
welcome to {} class""".format("Hi","2nd")  # i
print(z)

HiHow have you all been?
welcome to 2nd class

In [ ]:
y="""{} How have you all been?
welcome to {} class""".format(a,b)  # Position will automatically asign as 0 and 1
print(y)

Hi How have you all been?
welcome to Hi class

#List
List is mutable,can contain duplicate values,modify,replace,and ordered

In [ ]:
x = ['Pen',258,True,999,"Alex"] # list can have different types of date types.
print(x)
print(x[1])         #index
print(type(x[1]))   #type
print(len(x))       #len
print(x[-2:])        #Last elements
x = [2] * 6
print(x)            #[2] is a list with a single element (2).   * 6 repeats the list 6 times. The result is [2, 2, 2, 2, 2, 2].

['Pen', 258, True, 999, 'Alex']
258
<class 'int'>
5
[999, 'Alex']
[2, 2, 2, 2, 2, 2]

#add/append

In [ ]:
x = [2,4,6,8]
x.append(10)
print(x)


x.insert(4,12)    #add 12 in 4th Position. ( 4-is the position, 12 is the value)
print(x)


x.extend([14,16,18]) # Add end of the list
print(x)


x=[2,4,6,8,12,11,14,16,18,11]
x[5]=35   # add 35 to 5th Position
print(x)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 12, 10]
[2, 4, 6, 8, 12, 10, 14, 16, 18]
[2, 4, 6, 8, 12, 35, 14, 16, 18, 11]
[2, 4, 6, 8, 12, 14, 16, 18, 37]
37
[2, 4, 6, 8, 12, 14, 16, 18]
[2, 4, 8, 12, 14, 16, 18]
[]

# Remove

In [ ]:

x=[2,4,6,8,12,11,14,16,18,37]
x.remove(11) #remove the 1st occurence
print(x)


y=x.pop()#remove the last element  # Removes and returns the last element (37)
print(y)
print(x)


del x[2] #delet 6 in the 2nd position
print(x)

del x[2:5]
print(x)

x.clear() #remove all elements
print(x)

[2, 4, 6, 8, 12, 14, 16, 18, 37]
37
[2, 4, 6, 8, 12, 14, 16, 18]
[2, 4, 8, 12, 14, 16, 18]
[2, 4, 16, 18]
[]

#Loop

In [ ]:
Hasitha x = ["Pen",25,True] #will print individul list items
 for i in x:
  print(i)




y= [["Pen",25,True],[1,45,'Hi']] #nested list
print(y)
print(len(y))

Pen
25
True
[['Pen', 25, True], [1, 45, 'Hi']]
2

In [ ]:
b=[1,2,3]
print(b)

[1, 2, 3]

In [ ]:
print?

# WEEK 3

# TUPLES

Tuple is unchangable , non-mutable,ordered


> Add blockquote

In [ ]:
x = ("Pen",5,"Pencil")
print(x)
x=("Pen",5,24.6,"Female")
print(x)
print(x[1])
print(x[-1])
print(x[0:3])
print(x[-3:-1])
print(x[-2:])

('Pen', 5, 'Pencil')
('Pen', 5, 24.6, 'Female')
5
Female
('Pen', 5, 24.6)
(5, 24.6)
(24.6, 'Female')

# Update

In [ ]:
x=("Pen",5,24.6,"Female")
y = list(x)
print(y)
print(x)   # answer is different check brackets


# if we need to a tuple it should converted to a list and again converted back to tuple

y[1]="Male"
x = tuple(y)
print(x)

['Pen', 5, 24.6, 'Female']
('Pen', 5, 24.6, 'Female')
('Pen', 'Male', 24.6, 'Female')

What is contructer?? ( Empty class created at the back-end)

Why we need tuples--for example column header ( it should not be changed)

In [ ]:
y = ['Pen',1,24.6,True,"Female"]
y.append("Paris")
y.insert(3,777)
y.remove(24.6)
y.pop(1)
x=tuple(y)
print(x)

('Pen', 777, True, 'Female', 'Paris')

# Packing elements

In [ ]:
x = ("Paris","Rome","Italy")
(a,b,c) = x
print(a,b,c) # value without separation, like more consolidated data
print(x) #
print(b)
print(c)



x = ("Paris","Rome","Italy","Florence","Venice")
(a,b,*c) = x  # * mark is making answer as a list, it meaning related, This is called Packing
print(x)
print(c)

Paris Rome Italy
('Paris', 'Rome', 'Italy')
Rome
Italy
('Paris', 'Rome', 'Italy', 'Florence', 'Venice')
['Italy', 'Florence', 'Venice']

#Unpacking

If the packing has been done, those packed data only we can unpacked.

In [ ]:
 x = ("Paris","Rome",("Italy","Florence","Venice"))
 (a,b,(c,d,e)) = x
 print(a,b,c,d,e)
 print(a,b,c)
 print(d)

Paris Rome Italy Florence Venice
Paris Rome Italy
Florence

#Looping ( Conti....)

Dangling Pointers ????
(A dangling pointer is a pointer that still references a memory location even after that memory has been freed or deallocated. This can lead to undefined behavior, crashes, or security vulnerabilities.)

In [ ]:
x = ("Paris",1,True,"Rome","Italy","Florence","Venice")
for i in x:
  print(i)

for i in range(len(x)):
  print(x[i])

i = 3
while i < len(x):
  print(x[i])
  i += 1

Paris
1
True
Rome
Italy
Florence
Venice
Paris
1
True
Rome
Italy
Florence
Venice
Rome
Italy
Florence
Venice

#SETs


Sets will not allowed duplicate values

In [ ]:
x = {1,3,"Pen",True,False,3}
print(x)   # duplicates are not showing

x = {1,3,"Pen",True,False,3,1,3,"Pen",True,False,}
print(x)

print(x)
print(len(x))
print(type(x))





x.add("Pencil")   # added 1 element

y = ["Eraser", 25.1] #added a list
x.update(y)
print(x)



y =("shapner",45.68) # added tuple
x.update(y)
print(x)


x.update([777,999])
print(x)


#Order is always changing


x.remove("Pen")
print(x)



x.discard(1)
print(x)


x.pop()
print(x)


x.clear()
print(x)


x = frozenset({1,3,"Pen",True,False,3})

{False, 1, 'Pen', 3}
{False, 1, 'Pen', 3}
{False, 1, 'Pen', 3}
4
<class 'set'>
{False, 1, 3, 'Eraser', 25.1, 'Pen', 'Pencil'}
{False, 1, 3, 'shapner', 45.68, 'Eraser', 25.1, 'Pen', 'Pencil'}
{False, 1, 3, 999, 'shapner', 777, 45.68, 'Eraser', 25.1, 'Pen', 'Pencil'}
{False, 1, 3, 999, 'shapner', 777, 45.68, 'Eraser', 25.1, 'Pencil'}
{False, 3, 999, 'shapner', 777, 45.68, 'Eraser', 25.1, 'Pencil'}
{3, 999, 'shapner', 777, 45.68, 'Eraser', 25.1, 'Pencil'}
set()

#WEEK 4 (28-March-2025)

#Union

In [ ]:
x = {1,2,"Pen,",False}
y = {"Rome","Paris"}
z = {"Italy",50}
print(x.union(y))
print(x.union(y,z))
print(x|y|z)          # Mathematical operations, "|" meaning union in python

{False, 1, 2, 'Pen,', 'Paris', 'Rome'}
{False, 1, 2, 'Pen,', 50, 'Paris', 'Italy', 'Rome'}
{False, 1, 2, 'Pen,', 50, 'Paris', 'Italy', 'Rome'}

#Intersections

In [ ]:
x = {1,2,2,"Pen,",False}
y = {"Rome","Paris",2,999,False}
z = {"Italy",2,50,999}
print(x.intersection(y))
print(y.intersection(z))
print(x & y & z)  # "&" meaning intersect in python

{False, 2}
{2, 999}
{2}

#Difference

Returns a new set containing elements present in the first set but not in the second.

Does NOT modify the original set.

In [ ]:
x = {1,2,"Pen,",False}
y = {"Rome","Paris",2,999,False}
print(x.difference(y))#element present in the first set not the second set.
print(y.difference(x))
print(x-y)


"""The number 999 is only in y, not in x. The difference operation (x - y) only removes elements from x that are also in y. It does not consider elements that are exclusive to y."""

{1, 'Pen,'}
{'Rome', 'Paris', 999}
{1, 'Pen,'}

'The number 999 is only in y, not in x. The difference operation (x - y) only removes elements from x that are also in y. It does not consider elements that are exclusive to y.'

# Difference Update

Removes elements from the original set (x) that are also present in the second set (y).

Modifies the original set in-place.

In [ ]:
x = {1, 2, 3, 4}
y = {3, 4, 5, 6}

x.difference_update(y)  # Equivalent to x = x - y
print(x)  # Output: {1, 2} (Original set `x` is modified)
print(y)  # y is not updated,but only x

{1, 2}
{3, 4, 5, 6}

#Symetric Differences

Besides the repeates other values will be shown

In [ ]:
x = {1,2,"Pen,",False}
y = {"Rome","Paris",2,999,False}
print(x.symmetric_difference(y)) # here shows both unique value in both x and y
print(x ^ y)   # "^" use for symmetric difference in python.

{1, 'Pen,', 999, 'Paris', 'Rome'}
{1, 'Pen,', 999, 'Paris', 'Rome'}

#Symetric Differernce Update

In [ ]:
#DIfference update and Symetric difference are two types
#This will update the data in Back-end

x = {1,2,"Pen,",False}
y = {"Rome","Paris",2,999,False}
print(x.symmetric_difference_update(y))
print(x)     # Why the first output is None?. because symmetric_difference_update() modifies the set x in place and does not return a new set.

None
{1, 'Pen,', 999, 'Paris', 'Rome'}

"""Method Returns New Set?	Modifies Original?	Removes Common Elements? IncludesExclusive Elements?"""


difference()	                ✅ Yes 	   ❌ No	      ✅ Yes	          ❌ No

difference_update()      	❌ No	     ✅ Yes	    ✅ Yes	          ❌ No

symmetric_difference()    ✅ Yes	     ❌ No	      ✅ Yes	          ✅ Yes

symmetric_difference_update()	❌ No	✅ Yes	✅ Yes	✅ Yes

#Dictionary

In [ ]:
#Dictionaries
#ACIDS meaning
#Relateional database and Key-value database


capitals = {"Country":"Italy","Capital":"Rome","Famous":"Milan"}
print(capitals)
print(capitals["Country"])
print(capitals.get("Famous"))
print(capitals.keys()) # Keys , column headers ( To call perticular value)
print(capitals.values()) #Will show only values
print(capitals.items())

{'Country': 'Italy', 'Capital': 'Rome', 'Famous': 'Milan'}
Italy
Milan
dict_keys(['Country', 'Capital', 'Famous'])
dict_values(['Italy', 'Rome', 'Milan'])
dict_items([('Country', 'Italy'), ('Capital', 'Rome'), ('Famous', 'Milan')])

In [ ]:
i = ["produc_id","prod_name","prod_price","prod_qty"]#incase if i do not know the values when creating the dictionary.
I = dict.fromkeys(i)
print(I)#by defaul value has been taken to none

{'produc_id': {}, 'prod_name': {}, 'prod_price': {}, 'prod_qty': {}}

In [ ]:
i = ["produc_id","prod_name","prod_price","prod_qty"]
I = dict.fromkeys(i,{})
print(I)

{'produc_id': {}, 'prod_name': {}, 'prod_price': {}, 'prod_qty': {}}

In [ ]:
stud = {"roll no":1,"Name":"ABC","Marks":89, "Subject":{"Math","Physics"}} #dictionaty in dictionary
print(stud)
#print(type(stud))

stud = dict(rollno=1,Name="xyz",Marks=90,Subject={"Math","Physics"})#no space can write here, this is a constructor.and = sould be used insted of semi-colon
print(stud)

print(stud.get("rollno"))
stud.update({"Results":"Pass"})#adding new keys/elements or new columns
stud["Percentage"]= 96 #adding new keys/elements or new columns
print(stud)


print(stud.pop("Results"))#we are using pop since the is no ordered data or indexing in dictionaries
print(stud.popitem())


#if i need to delete column or key value or element
del stud ["Marks"]
print(stud)


#copy
stud1=stud.copy()
print(stud1)

{'roll no': 1, 'Name': 'ABC', 'Marks': 89, 'Subject': {'Physics', 'Math'}}
{'rollno': 1, 'Name': 'xyz', 'Marks': 90, 'Subject': {'Physics', 'Math'}}
1
{'rollno': 1, 'Name': 'xyz', 'Marks': 90, 'Subject': {'Physics', 'Math'}, 'Results': 'Pass', 'Percentage': 96}
Pass
('Percentage', 96)
{'rollno': 1, 'Name': 'xyz', 'Subject': {'Physics', 'Math'}}
{'rollno': 1, 'Name': 'xyz', 'Subject': {'Physics', 'Math'}}

#Loop

In [ ]:
#Looping
stud = {"roll no":1,"Name":"ABC","Marks":89, "Subject":{"Math","Physics"}}
for i in stud:
  print(i,stud[i])

roll no 1
Name ABC
Marks 89
Subject {'Physics', 'Math'}

In [ ]:
stud=[{"roll no":1,"Name":"ABC","Marks":89, "Subject":{"Math","Physics"}},
      {"roll no":2,"Name":"SAMAN","Marks":79, "Subject":{"Math","Physics"}},
      {"roll no":3,"Name":"KUMARA","Marks":69, "Subject":{"Math","Physics"}},
      {"roll no":4,"Name":"AYMAN","Marks":54, "Subject":{"Math","Physics"}}

]

for s in stud:
  for key,value in s.items():
    print(key,value)

roll no 1
Name ABC
Marks 89
Subject {'Physics', 'Math'}
roll no 2
Name SAMAN
Marks 79
Subject {'Physics', 'Math'}
roll no 3
Name KUMARA
Marks 69
Subject {'Physics', 'Math'}
roll no 4
Name AYMAN
Marks 54
Subject {'Physics', 'Math'}

# WEEK 5

In [ ]:
class Myclass:
  x = 5

p1 = Myclass() # Object
print(p1.x)

5

In [ ]:
class Person: # can re use
  def __init__(self,name,age):
    self.name = name
    self.age = age

p1 = Person("John",36)#object , because whenever we call the class "Person". then p1 consider as object
p2 = Person("Emmanuel",45)
print(p1.name)
print(p1.age)
print(p2.name)
print(p2.age)
print(p1) # giving error, because we have not define string variable. so we can create _str_ as below

   def __str__(self):
    return f"{self.name},{self.age}"

p1 = Person("John",36)
print(p1)

IndentationError: unexpected indent (<ipython-input-31-046d01c1dd16>, line 14)

In [ ]:
class Person:  # Can be reused
    def __init__(self, name, age):  # Constructor
        self.name = name
        self.age = age

    def __str__(self):  # Corrected method
        return f"{self.name}, {self.age}"

p1 = Person("John", 36)  # Creating an object
print(p1)  # Output: John, 36

John, 36

In [ ]:
class Person: # can re use
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def a(self):
    print("Hello:" + self.name,self.age)

p1 = Person("John",36)
p1.a()

Hello:John 36

#Library management system

Fist question of exam

In [ ]:
class library:
  def __init__(self):
    self.books ={} # since we are not sure how many object we creating

  def add_books(self,book_id,book_name,author,quantity):
    self.books[book_id]={"book_name":book_name,"author":author,"quantity":quantity}

  def display(self):
    for book_id, details in self.books.items(): #details is a dictionary withing dictionary
      print(f"ID:{book_id},Title:{details['book_name']},Author:{details['author']},Quantity:{details['quantity']}")

x = library()
x.add_books(101,"Harry Potter","JK Rowling",10)
x.add_books(102,"Lord of the Rings","JRR Tolkein",5)
x.add_books(101,"The Hobbit","Jrr Tolkeing",3) # fist item will be replaced
x.add_books(104,"Lord of the Rings","JRR Tolkein",15)
x.display()

ID:101,Title:The Hobbit,Author:Jrr Tolkeing,Quantity:3
ID:102,Title:Lord of the Rings,Author:JRR Tolkein,Quantity:5
ID:104,Title:Lord of the Rings,Author:JRR Tolkein,Quantity:15

Second question

In [ ]:
class library:
  def __init__(self):
    self.books ={} # since we are not sure how many object we creating

  def add_books(self,book_id,book_name,author,quantity):
    if book_id in self.books:
      print("Book id already exisist")
      return
    if quantity<=0:
      print("Quantity must be positive")
      return

    self.books[book_id]={"book_name":book_name,"author":author,"quantity":quantity}

  def display(self):
    for book_id, details in self.books.items(): #details is a dictionary withing dictionary
      print(f"ID:{book_id},Title:{details['book_name']},Author:{details['author']},Quantity:{details['quantity']}")

x = library()
x.add_books(101,"Harry Potter","JK Rowling",10)
x.add_books(102,"Lord of the Rings","JRR Tolkein",5)
x.add_books(101,"The Hobbit","Jrr Tolkeing",3) # fist item will be replaced
x.add_books(104,"Lord of the Rings","JRR Tolkein",15)
x.display()

Book id already exisist
ID:101,Title:Harry Potter,Author:JK Rowling,Quantity:10
ID:102,Title:Lord of the Rings,Author:JRR Tolkein,Quantity:5
ID:104,Title:Lord of the Rings,Author:JRR Tolkein,Quantity:15

Update book

In [ ]:
class library:
  def __init__(self):
    self.books ={} # since we are not sure how many object we creating

  def add_books(self,book_id,book_name,author,quantity):
    if book_id in self.books:
      print("Book id already exisist")
      return
    if quantity<=0:
      print("Quantity must be positive")
      return

    self.books[book_id]={"book_name":book_name,"author":author,"quantity":quantity}


  def update(self,book_id,book_name=None,author=None,quantity=None):
    if book_id not in self.books:
      print("Book id does not exist")
      return


    if book_name is not None:
      self.books[book_id]["book_name"] = book_name

    if author is not None:
      self.books[book_id]['author'] = author

    if quantity is not None:
      self.books[book_id]["quantity"] = quantity

    print("Book details have been updated")

  def display(self):
    for book_id, details in self.books.items(): #details is a dictionary withing dictionary
      print(f"ID:{book_id},Title:{details['book_name']},Author:{details['author']},Quantity:{details['quantity']}")

x = library()
x.add_books(101,"Harry Potter","JK Rowling",10)
x.add_books(102,"Lord of the Rings","JRR Tolkein",5)
x.add_books(103,"The Hobbit","Jrr Tolkeing",3) # fist item will be replaced
x.add_books(104,"Lord of the Rings","JRR Tolkein",1)
x.update(101, quantity = 100)
x.display()

Book details have been updated
ID:101,Title:Harry Potter,Author:JK Rowling,Quantity:100
ID:102,Title:Lord of the Rings,Author:JRR Tolkein,Quantity:5
ID:103,Title:The Hobbit,Author:Jrr Tolkeing,Quantity:3
ID:104,Title:Lord of the Rings,Author:JRR Tolkein,Quantity:1